<header>
            
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <div class="topnav" id="myTopnav">
      
        <b>SERGIO SAMBUELLI</b>
      
      <a href="/" class="active">HOME</a>
      <a href="/user/estudio">ESTUDIOS</a>
      <a href="/user/exp">EXPERIENCIA</a>
<!--       <a href="/user/portf">PORTFOLIO</a> -->
      <a href="/user/contact">CONTACTO</a>
      <a href="/pdf/CVSambuelliSergio.pdf" download="CVSambuelliSergio.pdf">CV PDF</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

<!-- 
    <nav>
        <ul>
		<li><a href="/users/me">YO</a></li>
		<li><a href="/users/exp">EXPERIENCIA</a></li>
		<li><a href="/users/portf">PORTFOLIO</a></l>
		<li><a href="/users/contact">CONTACTO</a></li>
	 </ul>
    </nav> -->
        
</header>