<html class="letra">
    <%- include ('./partials/head', {hojaDeEstilo: 'style.css', titulo:'home'}) %>      

    <body>
      <%- include ('./partials/header', {hojaDeEstilo: 'style.css', titulo:'home'}) %>  
        
        <main style="text-align: center;">
            <BR>
            <h2>PAGINA EN CONSTRUCCIóN!!!</h2>
            
            
        </main>    
       
        <%- include ('../partials/footer', {hojaDeEstilo: 'style.css', titulo:'footer'}) %>  
    </body>
</html>