<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'style.css', titulo:'Ingresá'}) %>      

<body>
    <%- include ('../partials/header', {hojaDeEstilo: 'style.css', titulo:'home'}) %>  
    
    <main>
        <hr>
  <div class="menu_contenedor">
    <div class="descripcion">

        <h2>ESTUDIOS</h2>
        <H3>Universidad Católica de Córdoba:
            Ingeniero electrónico - 2007 </H3>
        <H3>Universidad Católica de Córdoba:
            Profesor Universitario para el tercer ciclo
            de la E.G.B., Polimodal y Educación
            Superior en Ingenieria Eléctrica
            Electrónica, 2012</H3>
        <H2>CURSOS / IDIOMAS</H2>
        <ul style="list-style-type:none">
            <li>Idioma Inglés: Aprobado examen ECCE de universidad de
            Michigan.</li>
            <li>Curso PROGRAMACIÓN WEB FULL STACK 2022 - Digital House</li>
        </ul>



    </div>
    <div class="descripcion">
        <img style="width:100%" src="/images/diploma.jpg">
    </div>
    
  </div>      


  <hr>  

    </main>    

    <%- include ('../partials/footer', {hojaDeEstilo: 'style.css', titulo:'footer'}) %>  

</body>
</html>