<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'style.css', titulo:'Ingresá'}) %>      

<body>
    <%- include ('../partials/header', {hojaDeEstilo: 'style.css', titulo:'home'}) %>  
    
    <main>
        <hr>
  <div class="menu_contenedor">
    <div class="descripcion">

        <h3>Profesor de materias de electrónica</h3>
        <ul style="text-align:justify">
            <li>Profesor titular del Terciario del Instituto Técnico
                Renault en diversas asignaturas desde el año 2008 -
                sistemas de encendido, laboratorio IV, laboratorio V.
                Instituto Técnico Renault, 2008 - presente
            </li>
        </ul>

        <h3>Freelance en electrónica automotriz
            2008 hasta el presente....</h3>
        <ul style="text-align:justify">
            <li>Reparación y asistencia en materia de electrónica
                automotriz a diversos talleres automotrices (+de 14
                años).</li>
            <li>Programación y desarrollo de sistemas basados en
                microcontroladores, assembler, c++, arduino y
                android.</li>
            <li>Desarrollo de equipos para diagnostico automotriz
                (scanners).</li>
            <li>Dictado de cursos relacionados con inyección
                electrónica, programación de calculadores y de
                sistemas de seguridad en vehículos.</li>    
        </ul>

    </div>
    <div class="descripcion">
        <img style="width:100%" src="/images/Microchips.jpg">
    </div>
    
  </div>      


  <hr>  

    </main>    

    <%- include ('../partials/footer', {hojaDeEstilo: 'style.css', titulo:'footer'}) %>  

</body>
</html>